nav {
    background-color: lightgrey;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: flex-start;
}

.logo {
    max-width: 200px;
}