.logo {
    max-width: 200px;
}

.carouselSection {
    width: 100%;
}

.carouselSection img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.btn {
    background-color: orange;
    border-color: white;
}